<% if flash[:notice] %>
  <div class="alert alert-success mt-5" role="alert">
    <strong>Success</strong> -  <%= flash[:notice] %>
  </div>
<% end %>
<% @movies.each do |movie| %>
  <p>
    <%= movie.title %>
  </p>
  <p>
    <%= movie.contents %>
  </p>
  <p>
    <%= video_tag(movie.movie.url, :controls => true)  %>
  </p>
  <p>
    <%= movie.tag %>
  </p>
  <%= link_to "詳細", "/movie/show/#{movie.id}" %>
  <%= link_to "編集", "/movie/edit/#{movie.id}" %>
  <%# GETではなくdeleteメソッドで呼び出すと宣言 %>
  <%= link_to "削除", "/movie/delete/#{movie.id}", data: { "turbo-method": :delete } %>
  <hr>
<% end %>
