<div class="box d-flex vh-100 align-items-center">
  <div class="container">
    <div class="col-lg-7 bg-dark px-3 py-3">
      <% if @movie.errors.any? %>
        <% @movie.errors.each do |error| %>
          <div class="alert alert-danger" role="alert"><strong>エラー！</strong> - <%= error.full_message %></div>
        <% end %>
      <% end %>
      <%= form_with(model: @movie, url: "/movie/create", local: true) do |form| %>
        <div class="mb-3">
          <%= form.label "動画タイトル", class: "form-label text-light" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label "動画内容", class: "form-label text-light" %>
          <%= form.text_area :contents, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label "動画", class: "form-label text-light" %>
          <%= form.file_field :movie, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label "動画タグ", class: "form-label text-light" %>
          <%= form.text_field :tag, class: "form-control" %>
        </div>
        <%= form.submit "アップロード", class: "btn btn-primary px-4" %>
      <% end %>
    </div>
  </div>
</div>
