<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <%# フラッシュメッセージの表示 %>
    <% if flash[:notice] %>
      <div class="alert alert-success mt-5" role="alert">
        <strong>Success</strong> -  <%= flash[:notice] %>
      </div>
    <% end %>
    <h1>Users</h1>
    <div id="users">
      <%= @images.each do |image| %>
        <p>
          <%= image.title %>
        </p>
        <p>
          <%= image.contents %>
        </p>
        <p>
          <%= image.tag %>
        </p>
        <p>
          <%# 画像があれば画像表示 %>
          <% if image.image.url %>
            <%= image_tag(image.image.url) %>
          <% end %>
        </p>
      <% end %>
    </div>
  </body>
</html>
